.board {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridContainer {
  font-size: 18px;
  text-shadow: 5px 5px 5px grey;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  gap: 5px;
  height: 310px;
  width: 310px;
  margin: 5px auto;
}
