.title {
    font-size: 50px;
    font-weight: bold;
    font-family: "Times New Roman";
    text-shadow: 5px 5px 5px #63aad6;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #add8e6;
    height: 80px;
    width: 1000px;
    margin: 10px auto;
    border-radius: 20px;
    border: 2.5px solid darkblue;
    box-shadow: 5px 5px 5px #575656;
}
