.gridItem {
  font-size: 85px;
  font-weight: bold;
  text-shadow: 5px 5px 5px darkgrey;
  background-color: lightgrey;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 2.5px solid #575656;
  cursor: pointer;
}

.aktuell {
  font-size: 25px;
  font-weight: bold;
  font-family: "Times New Roman";
  text-shadow: 5px 5px 5px #63aad6;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightblue;
  height: 40px;
  width: 500px;
  border: 2.5px solid darkblue;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #575656;
  margin: 20px auto;
}
